#frontend

# Dependencies
frontend/node_modules/

# Build output
frontemd/dist/

# IDE and OS files
frontend/.vscode/
frontend/.DS_Store

# Logs
frontend/npm-debug.log*

#backend

# Python virtual environment
/backend/venv/

#db
/backend/database.db

# Python cache
**/__pycache__/
**/*.pyc

# Python packages cache
/backend/.pytest_cache/
.backend/.mypy_cache/

